<template>
    <div>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="stylesheet" href="style.css">
        <section id="header">
            <div class="icon">
                <a href=""><img src="Imac/logo.png" alt=""></a>
            </div>

            <div>
                <ul id="navbar">
                    <li>
                        <NuxtLink to="/">TRANG CHỦ</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/about">GIỚI THIỆU</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/shop">SẢN PHẨM</NuxtLink>
                    </li>                 
                    <li>
                        <NuxtLink to="/contact">LIÊN HỆ</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/shop_system">HỆ THỐNG</NuxtLink>
                    </li>          
                    <li>
                        <NuxtLink to="/cart"><i class="fa-solid fa-cart-shopping"></i></NuxtLink>
                    </li>
                    <NuxtLink to="#" id="close"><i class="far fa-times"></i></NuxtLink>
                </ul>
            </div>
            <div id="mobile">
                <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <i id="bar" class="fas fa-outdent"></i>
            </div>

        </section>
        <div class="container mx-auto p-4">
            <slot />
        </div>
        <footer class="section-p1">
            <div class="col">
                <h4>Contact</h4>
                <p><strong>Địa Chỉ:</strong> KDC91B , Phường An Khánh, Quận Ninh Kiều, TP Cần Thơ</p>
                <p><strong>Điện thoại:</strong> 19001267</p>
                <p><strong>Giờ Mở Cửa:</strong> 6h30 - 17h, Thứ 2 - Thứ 7</p>
                <div class="Follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4>Giới Thiệu</h4>
                <a href="#1">Sản Phẩm</a>
                <a href="#2">Túi Xách Tay</a>
                <a href="#3">Túi Cầm Tay</a>
                <a href="#4">Tạp Chí</a>
                <a href="#5">Hệ Thống Cửa Hàng</a>
            </div>

            <div class="col">
                <h4>Hướng Dẫn</h4>
                <a href="#6">Câu hỏi thường gặp</a>
                <a href="#7">Chính sách đổi trả</a>
                <a href="#8">Hướng dẫn bảo quản</a>
                <a href="#9">Hướng dẫn thanh toán</a>
                <a href="#0">Trợ Giúp</a>
            </div>

            <div class="col install">
               <h3>Chứng nhận</h3>
                <div class="row">                
                    <img src="Imac/logo1.png" alt="">
                </div>           
                <img src="Imac/ft.png" alt="">
            </div>

            <div class="copyright">
                <p>&copy; 2023 by FPT-Polytechnic website fashion</p>
            </div>
        </footer>
    </div>
</template>

<script>

</script>

<style scoped>
.router-link-exact-active {
    color: #af12b4;
}
</style>