<template>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="boostrap.css">
    <section id="page-header" class="about-header">
        
        <h2>#KnowUs</h2>
        
        <p>Lorem ipsum dolor sit amet, consectetur</p>
        
    </section>

    <section id="about-head" class="section-p1">
        <img src="Imac/imac21.jpg" alt="">
        <div>
            <h2>Cửa hàng Túi Xách</h2>
            <p>Không chỉ với bề ngoài đẹp mắt với thiết kế hình chữ nhật thông dụng nhưng không bao giờ lỗi mốt, khuy bấm được cách điệu kèm thêm khuyên tròn sáng bóng tạo thành tâm điểm cho chiếc túi thì không thể không kể đến công năng của nó với cách bố trí vô cùng khoa học cho kho nội thất bên trong túi. Túi xách nữ đẹp thiết kế ngăn rộng rãi bằng miệng túi, 2 ngăn chính mở ngăn cách bằng một ngăn khóa kéo an toàn. Ngoài ra còn 2 ngăn nhỏ được tích hợp trên thành túi ở mỗi bên cho bạn sắp xếp đồ một cách hợp lý, không gây lộn xộn cũng như khó khăn khi tìm kiếm.
                Tuy nhiên, điều quan trọng nhất để đưa ra quyết định cuối cùng cho sản phẩm lại không phải hoàn toàn phụ thuộc vào công năng mà một phần rất nhỏ đó là màu sắc. Bạn là người yêu thích sự tươi sáng thì chắc chắn bạn sẽ không thể miễn cưỡng lấy cho mình màu đen hay nâu, mệnh của bạn hợp đỏ kị xanh thì chắc chắn rồi “đỏ thôi xanh thì quên đi”,… Hiểu được điều đó TOMA luôn quan tâm đến chi tiết này nên đã đưa ra 9 tones màu cho bạn thoải mái lựa chọn.</p>
            <abbr title="">
            </abbr>
            <br><br>
            <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Đồ da rất bền, dùng rất thích nên việc mong muốn được sở hữu một món đồ bằng da thật là điều rất đáng lưu tâm của mọi người. Hàng thật giả lẫn lộn trên thị trường rất nhiều nên mọi người nhiều khi không thể tự phân biệt được mà phó mặc vào sự uy tín của cửa hàng mình mua.
            </marquee>
        </div>
    </section>

    
</template>

<script>

</script>

<style>

</style>