<template>
    <link rel="stylesheet" href="https://control.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/boostrap.css">
    <section id="bg">
    </section>

    <section id="controlduct1" class="section-p1">
        <h2>Túi Nữ Xách Tay</h2> <hr>
        <div class="conmenu">
               <span>Cỡ Lớn</span>
               <span>Cỡ Nhỏ</span>
               <span>Cỡ Trung</span>
               <span>Ví</span>
            </div>
        <div class="control-container ">

            <div class="control">
                <img src="Imac/imac1.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac2.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer hồng đậm</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac3.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer tím nhạt</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac4.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer xanh xám</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac5.jpg" alt="">
                <div class="des">
                    <h5>Túi bucket style Bohemian K&K</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac6.jpg" alt="">
                <div class="des">
                    <h5>Túi Frame in họa tiết móc tua rua PDG</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac7.jpg" alt="">
                <div class="des">
                    <h5>Túi frame nữ quai xách hợp kim Balana</h5>
                    <h4>1,300,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac8.jpg" alt="">
                <div class="des">
                    <h5>Túi frame nữ quai xách hợp kim Balana </h5>
                    <h4>299,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        <div class="control">
                <img src="Imac/imac9.jpg" alt="">
                <div class="des">
                    <h5>Túi Messenger da bò Heti ba tầng khóa</h5>
                    <h4>639,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac10.jpg" alt="">
                <div class="des">
                    <h5>Túi Messenger da bò Heti khóa kéo 2 trong 1</h5>
                    <h4>1,000,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac11.jpg" alt="">
                <div class="des">
                    <h5>Túi messenger khóa trái tim nạm đá DFJL</h5>
                    <h4>350,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac12.jpg" alt="">
                <div class="des">
                    <h5>Túi Shoulder Bag móc treo rua rua DFJL</h5>
                    <h4>400,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        </div>
    </section>

    <section id="controlduct1" class="section-p1">
        <h2>Túi Nữ Cầm Tay</h2> <hr>
        <div class="conmenu">
               <span>Cỡ Lớn</span>
               <span>Cỡ Nhỏ</span>
               <span>Cỡ Trung</span>
               <span>Ví</span>
            </div>
        <div class="control-container">
            <div class="control">
                <img src="Imac/imac13.jpg" alt="">
                <div class="des">
                    <h5>Clutch cầm tay dáng phong thư Mllecoco</h5>
                    <h4>1,390,00đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac14.jpg" alt="">
                <div class="des">
                    <h5>Clutch cầm tay dáng phong thư Mllecoco</h5>
                    <h4>1,390,00đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac15.jpg" alt="">
                <div class="des">
                    <h5>Clutch cầm tay dáng phong thư Mllecoco</h5>
                    <h4>1,390,00đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac16.jpg" alt="">
                <div class="des">
                    <h5>Clutch cầm tay dáng phong thư Mllecoco</h5>
                    <h4>1,390,00đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac17.jpg" alt="">
                <div class="des">
                    <h5>Clutch cầm tay dáng phong thư Mllecoco</h5>
                    <h4>1,390,00đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac18.jpg" alt="">
                <div class="des">
                    <h5>Clutch cầm tay dáng phong thư Mllecoco</h5>
                    <h4>1,390,00đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac19.jpg" alt="">
                <div class="des">
                    <h5>Clutch cầm tay dáng phong thư Mllecoco</h5>
                    <h4>1,390,00đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac20.jpg" alt="">
                <div class="des">
                    <h5>Clutch cầm tay dáng phong thư Mllecoco</h5>
                    <h4>1,390,00đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        </div>
    </section>
</template>

<script>

</script>

<style>

</style>