<template>
    <link rel="stylesheet" href="https://control.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="boostrap.css">
    <section id="page-header">
        
        <!-- <h2>#stayhome</h2>
        
        <p>Save more with coupons & up to 70% off!</p> -->
        
    </section>

    <section id="controlduct1" class="section-p1">
        <div class="control-container">
            <div class="control" onclick="window.location.href='scontrolduct.html';">
                <img src="Imac/imac1.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac2.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac5.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac7.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac8.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac9.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac4.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac10.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        
            <div class="control">
                <img src="Imac/imac16.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac19.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac12.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac11.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac18.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac9.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac20.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="control">
                <img src="Imac/imac13.jpg" alt="">
                <div class="des">
                    <h5>Túi birkin ổ khóa Cabwer đỏ</h5>
                    <h4>1,240,000đ</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>
    
</template>

<script>

</script>

<style>

</style>