<template>
     <link rel="stylesheet" href="https://control.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="boostrap.css">
    <div  class="section-p1">
<p>Tp HCM: Parkson Lê Thánh Tôn - Tầng 2 - 35-45bis Lê Thánh Tôn - Quận 1 <br>
Tp HCM: Vincom Thảo Điền - Tầng 2 - 159 Xa Lộ Hà Nội, Thảo Điền, Quận 2 <br>
Tp HCM: 403-405 Nguyễn Đình Chiểu, Phường 5, Quận 3 <br>
Hà Nội: Cửa hàng 164 Phố Huế, Hai Bà Trưng, Hà Nội <br>
Hà Nội: Cửa Hàng 95 Nguyễn Văn Huyên, Cầu Giấy, Hà Nội <br>
Hà Nội: Cửa Hàng 71B6 Hàng Trống, Quận Hoàn Kiếm, Hà Nội <br>
Mỹ Tho: 24B Ấp Bắc, Phường 5, TP.Mỹ Tho <br>
Đồng Tháp: 85 Thiên Hộ Dương, Thị xã Hồng Ngự, Tỉnh Đồng Tháp <br>
Hà Nội: 280 Kim Mã, Quận Ba Đình, Hà Nội <br>
Hà Nội: 42 Thái Thịnh, Quận Đống Đa, Hà Nội</p>
        <div class="map">
            <iframe src="https://www.google.com/maps/place/H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0227384,105.8163641,14z/data=!3m1!4b1!4m6!3m5!1s0x3135ab9bd9861ca1:0xe7887f7b72ca17a9!8m2!3d21.0277644!4d105.8341598!16zL20vMGZuZmY?hl=vi-VN&entry=ttu" width="600" height="450" style="border:0;"  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

</div>
</template>